@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ubuntu-bold';
  src: url('/fonts/Ubuntu-Bold.ttf');
}
@font-face {
  font-family: 'ubuntu-medium';
  src: url('/fonts/Ubuntu-Medium.ttf');
}
@font-face {
  font-family: 'ubuntu-regular';
  src: url('/fonts/Ubuntu-Regular.ttf');
}

@layer base {
  h1 {
    font-family: 'ubuntu-bold', system-ui, sans-serif;
  }
}

@layer utilities {
  .flex-row-auto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .flex-col-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

@layer utilities {
  .card {
    min-width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    border-radius: 30px;
    background: lightgrey;
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  }
}

